html{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0);
    background-color: antiquewhite; 
} 
h1{
    color: blue;
    align-content: center;
}
h3{
    color: rgb(91, 6, 24);
}
h4{
    color: blueviolet;
}
p{
    color: darkslategray;
    width: 1200px;
}
img{
    width: 1200px;
    margin: 0 auto;
}
h1, h3, h4{
    text-align: center;
}
img, p{
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    display: block;
}
ol,ul{
    color: darkslategray;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    display: block;
}
li{
    margin-left: 320px;
}
a{
    margin-left: 780px;
}